#desktop{
    width: 2000px; 

}
#phone{
    width: 2000px;
}
#tablet{
    width: 2000px;
}
#sitemap{
    width: 2000px;
}
h2{
    text-align: left;
}
.images{
    width: 500px;
    height: 500px;
    margin: 12px;
    float: left;
}
.images2{
    width: 500px;
    height: 650px;
    margin: 12px;
    float: left;
    
}
.images3{
    width: 500px;
    height: 650px;
    margin: 12px;
    float: left;
}